* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  max-width: 100vw;
  overflow: hidden;
  overflow-x: none;
  overflow-y: none;
}

body {
  background-color: #625261;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: relative;
}
